---
layout: default
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
  <h1 class="font-bold">
    Tutaj napis w kolorze headerowym z scss.
  </h1>
  <br>

  <p>Tutaj zwykły tekst w paragrafie w odpowiednim kolorze z scss.</p>
  <a href="#">To jest link w odpowiednim kolorze z scss.</a>
</body>
</html>