---
layout: default
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
  <!-- Text colors -->
  <h1 class="font-bold">
    Tutaj napis w kolorze headerowym z scss.
  </h1>
  <p class="text-black">Tutaj zwykły tekst w paragrafie w odpowiednim kolorze z tailwinda.</p>
  <a href="#">To jest link w odpowiednim kolorze z scss.</a>
  <br>

  <!-- Backgrounds -->
  <p class="bg-my-green">Tekst na zielonym tle z scss.</p>
  <p class="bg-black">Tekst na czarnym tle z tailwinda.</p>
  <p class="bg-inherit">Dziedziczenie tła.</p>
  <br>

  <!-- Shadow boxes -->
  <div class="shadow-md p-2 bg-lime-200">
    <p class="text-sky-800">Cienie.</p>
  </div>
  <div class="shadow-xl p-3 rounded bg-stone-100">
    <p class="text-sky-400">Cienie 2.</p>
  </div>
  <br>

  <!-- Table auto -->
  <table class="table-auto">
    <thead>
      <tr>
        <th>Kraj</th>
        <th>Populacja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Polska</td>
        <td class="text-red-700">37 mln</td>
      </tr>
      <tr>
        <td>Chiny</td>
        <td class="text-green-500">1.4 mld</td>
      </tr>
    </tbody>
  </table>

  <!-- Table fixed -->
  <table class="table-fixed">
    <thead>
      <tr>
        <th>Kraj</th>
        <th>Populacja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Polska</td>
        <td class="text-red-700">37 mln</td>
      </tr>
      <tr>
        <td>Chiny</td>
        <td class="text-green-500">1.4 mld</td>
      </tr>
    </tbody>
  </table>

  <!-- Ping animate -->
  <div class="relative flex items-center justify-center h-32 w-32">
    <div class="absolute inline-flex h-full w-full animate-ping bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 rounded-full opacity-75"></div>
    <div class="relative inline-flex h-21 w-21 bg-blue-500 rounded-full"></div>
    <p class="absolute text-white font-bold">Sieeemano</p>
  </div>

  <!-- Flex Row -->
  <div class="p-4">
    <h2 class="text-xl text-center font-bold mb-4">Flex Row</h2>
    <div class="flex flex-row bg-gray-100 p-4 mb-8 rounded shadow-md">
      <div class="bg-stone-500 text-white p-4 m-2 rounded">Pierwszy</div>
      <div class="bg-orange-500 text-white p-4 m-2 rounded">Drugi</div>
      <div class="bg-emerald-500 text-white p-4 m-2 rounded">Trzeci</div>
    </div>
  
    <!-- Flex Col -->
    <h2 class="text-xl text-center font-bold mb-4">Flex Col</h2>
    <div class="flex flex-col bg-gray-100 p-4 rounded shadow-md">
      <div class="bg-stone-500 text-white p-4 m-2 rounded">Pierwszy</div>
      <div class="bg-orange-500 text-white p-4 m-2 rounded">Drugi</div>
      <div class="bg-emerald-500 text-white p-4 m-2 rounded">Trzeci</div>
    </div>
  </div>

  <!-- Flex Auto -->
  <div class="p-8">
    <h2 class="text-xl text-center font-bold mb-4">Flex-Auto</h2>
    <div class="flex bg-gray-100 p-4 rounded shadow-md">
      <div class="bg-yellow-500 text-black p-4 m-2 rounded flex-auto">Pierwszy</div>
      <div class="bg-teal-500 text-black p-4 m-2 rounded flex-auto">Drugi</div>
      <div class="bg-cyan-500 text-black p-4 m-2 rounded flex-auto">Trzeci</div>
    </div>
  </div>

  <!-- Flex None -->
  <div class="p-8">
    <h2 class="text-xl text-center font-bold mb-4">Flex-None</h2>
    <div class="flex bg-gray-100 p-4 rounded shadow-md">
      <div class="bg-yellow-500 text-black p-4 m-2 rounded flex-none">Pierwszy</div>
      <div class="bg-teal-500 text-black p-4 m-2 rounded flex-none">Drugi</div>
      <div class="bg-cyan-500 text-black p-4 m-2 rounded flex-none">Trzeci</div>
    </div>
  </div>

</body>
</html>